body{
    text-align: center;
    background: black;
  }
  #bnw{
    position: absolute;
    top:40vh;
    
    left:50px;
  }
  #colored{
    position: absolute;
    top:40vh;
    left:50px;
    clip-path:polygon(0 0,0.01% 0,0.01% 100%,0 100%);
  }
  .img-container{
    position: relative;
    width:300px;
    margin:0px auto;
  } 